body {
	background-image: url("flatirons2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	color: black;
	font-family: "Comic Sans MS";
}

.survey-all {
	width: 30%;
	border: medium solid black;
	padding: 10px;
	margin-top: 20px;
	background-color: white;
}

footer {
	text-align:center;
}
#center-footer {
	width: 20%;
	margin: 10px auto 10px auto;
}

.comic-sans {
	color: black;
	font-family: "Comic Sans MS";
}

a:visited {
	color:green;
}